.Header,
.Photo,
.Block,
.Name,
.Information,
.Comment {
    text-align: center;
    font-size: 32px;
    background-color: blanchedalmond;
}

.Egorka {
    width: 90%;
}

.Header {
    height: 100px;
    background-color: rgb(211, 188, 152);
    text-align: left;
}

.Photo {
    height: 800px;
    width: 33.3%;
    float: left;
    text-align: left;
}

.Block {
    height: 700px;
    width: 66.6%;
    float: left;
    padding-top: 100px;
}

.Name {
    height: 100px;

}

.Information {
    height: 600px;
    width: 66.6%;
    float: left;
}

.Comment {
    height: 600px;
    width: 33.3%;
    float: left;
}