.header,
.photo,
.block,
.name,
.information,
.comment {
    text-align: center;
    font-size: 32px;
    background-color: blanchedalmond;
}

.egorka {
    width: 90%;
}

.header {
    height: 100px;
    background-color: rgb(211, 188, 152);
    text-align: left;
}

.photo {
    height: 800px;
    width: 33.3%;
    float: left;
    text-align: left;
}

.block {
    height: 700px;
    width: 66.6%;
    float: left;
    padding-top: 100px;
}

.name {
    height: 100px;

}

.information {
    height: 600px;
    width: 66.6%;
    float: left;
}

.comment {
    height: 600px;
    width: 33.3%;
    float: left;
}