/*Показал свой код приятелю и он предложил пофлексить :-)*/
.block,
.info {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
}

.photo {
    flex: 1 0 1px;
}

.content {
    flex: 3 0 1px;
}

.photo img {
    width: 100%;
}

.header {
    background-color: rgb(171, 201, 162);
    padding: 5px;
}

.name {
    text-align: center;
}

body {
    background-color: rgb(183, 214, 173);
    height: 100vh;
    margin: 0;
    -webkit-animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.info * {
    padding: 25px;
}

.conteiner {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.conteiner div {
    width: 15%;
}

.conteiner img {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.wrap div {
    width: 40%;
}

.wrap img {
    width: 50%;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.grid div {
    width: 40%;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-4 22:54:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}