.flex-item {
    background-color: blueviolet;
    border-radius: 1000px;
    width: 10%;
    aspect-ratio: 1/1;
    /* Решил использовать экспериментальное свойство */
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}